.home-wrapper{
  width: 88vw;
  float: right; 
}
.home-container{
  width: 99%;
  height: 87vh;
  margin: 0 auto;
}

.home-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.home-nav-item {
  background: #fff;
  width: 220px;
  height: 120px;
  line-height: 20px;
  border-radius: 9px;
  text-align: center;
  border: 1px solid rgba(187, 187, 187, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
}

.home-nav-item-icon-topic{
  width: 70px;
  height: 70px;
  background-color: rgba(249, 177, 71, 1);;
  border: 1px solid rgba(187, 187, 187, 1);
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 32px;
}
.home-nav-item-icon-paper{
  width: 70px;
  height: 70px;
  background-color: rgba(4, 151, 228, 1);
  border: 1px solid rgba(187, 187, 187, 1);
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 32px;
}
.home-nav-item-icon-exam{
  width: 70px;
  height: 70px;
  background-color: rgba(131, 221, 26, 1);;
  border: 1px solid rgba(187, 187, 187, 1);
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 32px;
}


.home-content-title{
  color: rgba(16, 16, 16, 1);
  font-size: 18px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  margin-bottom: 6px;
}

.home-content-des{
  color: rgba(145, 138, 138, 1);
  font-size: 14px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  width: 120px;
}

.home-exam-title{
  width: 90%;
  color: rgba(16, 16, 16, 1);
  font-size: 20px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  margin: 30px auto;
  padding: 25px 10px;
  border-bottom: 1px solid rgba(187, 187, 187, 1);
}

.home-exam{
  width: 90%;
  margin: 30px auto;
}

.home-exam-item{
  width: 380px;
  height: 180px;
  background: #fff;
  border-radius: 9px;
  border: 1px solid rgba(187, 187, 187, 1);  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-exam-item-title{
  color: rgba(16, 16, 16, 1);
  font-size: 18px;
  text-align: center;
  font-family: SourceHanSansSC-regular;
}

.home-exam-item-content{
  color: rgba(16, 16, 16, 1);
  font-size: 14px;
  text-align: left;
  font-family: SourceHanSansSC-regular;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-exam-item-content-num{
  color: #0497E4;
  margin-left: 2px;
}

.home-exam-item-content-item{
  display: flex;
}