.app-background{
  width: 100vw;
  height: 100vh;
  background: url('../../images/back.png');
  background-size: cover;
  background-repeat:no-repeat;
}

.user-wrapper{
  width: 88vw;
  float: right; 
}
.user-container{
  background: #fff;
  border-radius: 4px;
  margin: 5px auto;
  width: 99%;
  height: 88vh;
  box-sizing: border-box;
  border: 1px solid rgba(187, 187, 187, 1);
  padding: 30px ;

}