.paper-wrapper{
  width: 88vw;
  float: right; 
}
.paper-container{
  background: rgba(0,0,0,0.5);
  margin: 5px auto ;
  width: 99%;
}

.paper-create-topic-list{
  background: #fff;
  border-radius: 4px;
  width: 78%;
  height: 88vh;
  box-sizing: border-box;
  border: 1px solid rgba(187, 187, 187, 1);
  padding: 0 36px;
  float: right;
  position: relative;
}

.paper-create-pannel{
  border: 1px solid rgba(187, 187, 187, 1);
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  width: 21%;
  float: left;
}

.paper-topic-list-create{
  position: absolute;
  bottom: 70px;
  left: 80px;
}
.paper-create-input-item{
  display: flex;
  margin: 15px 0;
  align-items: center;
  justify-content: space-around;
}
.paper-create-input{
  width: 60%;
}
.paper-list-search-pannel{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.paper-list-item-input{
  display: flex;
  align-items: center;
}

.paper-list-item-input-title{
  width: 120px;
  font-size: 16px;
}

.paper-list-search-item{
  margin-right: 80px;
}

.paper-topic-select{
  height: 40px;
  font-size: 18px;
  font-family: SourceHanSansSC-regular;
  text-align: center;
  line-height: 40px;
}