/* import styled from 'styled-components'; */


/* export const TopbarWrapper = styled.div` */
.tapbar-wrapper{
  margin: 0 auto;
  width: 99%;
  height: 10vh;
  line-height: 10vh;
  border: 1px solid rgba(187, 187, 187, 1);
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
}
.button-item{
  margin: auto 25px ;
}
/* .top-but-icon{
  font-size: 18px;
  padding-bottom: -5px;
} */
  
/* ` */